# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.venv/
venv/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Logs
*.log

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Kubernetes / temp files
*.swp
*.swo

# Node (por si el frontend-web evoluciona)
node_modules/
dist/
build/

##Pycharm
.idea/
*.iml

